
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left">
        <thead class="text-xs uppercase dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3">
                First Name
              </th>
              <th scope="col" class="px-6 py-3">
                Last Name
              </th>
              <th scope="col" class="px-6 py-3">
                Animal Name
              </th>
              <th scope="col" class="px-6 py-3">
                Animal Type
              </th>
              <th scope="col" class="px-6 py-3">
                Hours Requested
              </th>
              <th scope="col" class="px-6 py-3">
                Date of Service
              </th>
              <th scope="col" class="px-6 py-3">
                Total Cost
              </th>
            </tr>
        </thead>

        <tbody>
          <%= render partial: 'table_row', collection: @bookings, as: :booking %>
        </tbody>
    </table>
</div>
